# node
node_modules/

# remix
.cache/
build/

# goreleaser
dist/

# docker
Dockerfile
docker-compose.yml
*.dockerfile

# github
.github/

# helm
charts/

# misc
config/
hack/
testdata/
*.md
.*
!.well-known/
CODEOWNERS
Makefile
